





.defultBar{
    background-color: rgb(238, 234, 229,0.6);
    border-style: solid;
  border-radius: 5px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-width: 1px;
   
display: inline-block;
    

}
.personalityPercent{
    width: 0%;
    background-color: #318787;
    
    height: 100%;
    border-radius:4px;
}
.barDiv {
    display: grid;
    grid-template-columns: 250px 600px 100px;
    text-align: left;
    column-gap: 10px;
    margin-left: 45px;
}
/* .barDiv p {
    margin: 0;
} */

.allBarDiv{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}
.barTitle a{
    text-decoration: none;
}
.barTitle a p:hover{
    background-color: #cc65957c;
    color: rgb(233, 62, 62);
    z-index: 1;
    box-shadow: 10px 5px 0px 5px black;
}
p ,a{
    font-size: 16px;
    font-family: cursive;
}